<nav class="navbar">
  <div class="logo">
    <img src="/assets/imgs/logo.png" alt="Logo">
  </div>
  <ul class="nav-links">
    <li><a href="/meets/dashboard">Dashboard</a></li>
    <li><a href="/meets/">Meetings</a></li>
    <li><a href="/users/logout">Logout</a></li>
  </ul>
  <div class="hamburger">
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
  </div>
</nav>