<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body>

    <section class="flexer">

        <div class="container-log ">
            <h2>Register</h2>
            <form action="/users/register" method="POST">
                <% if (typeof message !=='undefined' ) { %>
                    <p class="error-message">
                        <%= message %>
                    </p>
                    <% } %>
                        <div class="form-group">
                            <label for="email">Email:</label>
                            <input type="email" id="email" name="email" required>
                        </div>
                        <div class="form-group">
                            <label for="password">Username</label>
                            <input type="text" id="Username" name="username" required>
                        </div>
                        <div class="form-group">
                            <label for="password">Password:</label>
                            <input type="password" id="password" name="password" required>
                        </div>
                        <button type="submit">Register</button>

                        <div>
                            <a href="/" class="linker">Login</a>
                        </div>
            </form>
        </div>
    </section>

    <%- include('../partials/footer'); %> 
</body>

</html>